<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <main class="mainBody">
        <div class="landingBody">
            <a href="/user/signup"><button type="button" class="btn btn-primary">Signup</button></a>
            <a href="/user/login"><button type="button" class="btn btn-success">Login</button></a>
        </div>
    </main>
</body>

</html>