body{
    padding: 0 5px 0 5px;
}

.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home{
    display: flex;
    justify-content: center;
}

.legendHead{
    display: flex;
    justify-content: space-between;
}

.creationDate{
    font-size: small;
}

.btn {
    margin: 5px;
}