body{
    padding: 0 5px 0 5px;
}

a{
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: center;
}

.legendHead{
    display: flex;
    justify-content: space-between;
}

.creationDate{
    font-size: small;
}

.btn {
    margin: 5px;
}

.encloserOne{
    display: flex;
    justify-content: space-between;
}

.welcomeMsg{
    margin-right: 10px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usersFormInput{
    margin-bottom: 20px;
}

.mainBody{
    display: flex;
    flex-direction: column;
}

.intro{
    margin-top: 30px;
}

.usersCredentials{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.credAdmin{
    padding: 5px;
}

.credTechs{
    padding: 5px;
}

.landingBtns{
    display: flex;
    justify-content: center;
}

.usersTypes{
    margin-top: 30px;
}

.edAdminTwo{
    width: 55vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.marginRight{
    margin-right: 10px;
}

.marginTop{
    margin-top: 15px;
}

.selectFields{
    display: flex;
    margin-bottom: 25px;
    padding: 10px;
}

.select{
    border-radius: 5px;
    border-color: lightgray;
}

.selectDiv{
    margin-right: 10px;
}

.createBtn{
    margin: 15px;
}