<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/user/login" method="post">
          <fieldset class="loginForm">
            <legend>User Login</legend>
            <label class="form-label">USERNAME:</label>
            <input class="usersFormInput" type="text" name="username" required />
            <label class="form-label">PASSWORD:</label>
            <input class="usersFormInput" type="password" name="password" required />
            </label><br>
            <input type="submit" value="Login" class="btn btn-primary" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>