<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
      <main>
        <div>
          <form action="/user/signup" method="post">
            <fieldset class="loginForm">
              <legend>New User</legend>
              <label>USERNAME:</label>
              <input class="usersFormInput" type="text" name="username" required />
              <label>ALIAS:</label>
              <input class="usersFormInput" type="text" name="alias" required />
              <label>PASSWORD:</label>
              <input class="usersFormInput" type="password" name="password" required />
              <label for="confirmPassword">Confirm Password:</label>
              <input class="usersFormInput" type="password" name="confirmPassword" id="confirmPassword" required />
              <input type="submit" value="Create Account" class="btn btn-primary"/>
            </fieldset>
          </form>
          <a class="home" href="/">
            <button class="btn btn-secondary">Back</button>
          </a>
        </div>
      </main>
  </body>

</html>